APP_ENV=local
SERVER_PORT=8080

DB_HOST=127.0.0.1
DB_PORT=3306
# Local (docker-compose) defaults:
DB_USER=blog
DB_PASSWORD=blog
DB_NAME=blog

JWT_PRIVATE_KEY_PATH=keys/jwtRS256.key
JWT_PUBLIC_KEY_PATH=keys/jwtRS256.key.pub
JWT_ISSUER=go-rest-blog
JWT_TTL_MINUTES=120

